<div *ngIf="hero">
	<h2>{{hero.name}} details!</h2>
	<div>
		<label>id: </label>{{hero.id}}
	</div>
	<form (ngSubmit)="save()" [ngFormModel]="heroForm">
		<div>
			<label>Name: </label>
			<input ngControl="heroName" placeholder="name" />
		</div>
		<div>
			<gold-phone-input
					country-code="33"
					value="{{hero.phone}}"
					phone-number-pattern="X-XX-XX-XX-XX">
			</gold-phone-input>
		</div>
		<pre>{{hero | json}}</pre>

		<button (click)="goBack()">Back</button>
		<button type="submit">Save</button>
	</form>
</div>